# **Homework Week 11:**
### **Exercise 1:**

In [1]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from tensorflow.keras.utils import to_categorical
from keras import models
from keras import layers
from keras.datasets import imdb
from keras.models import Sequential
from tensorflow.keras.layers import Flatten
from tensorflow.keras.layers import Dropout
from keras.layers import Dense

In [2]:
(training_data, training_targets), (testing_data, testing_targets) = imdb.load_data(num_words=10000)
data = np.concatenate((training_data, testing_data), axis=0)
targets = np.concatenate((training_targets, testing_targets), axis=0)

In [3]:
# Explore the data
print("Categories:", np.unique(targets))
print("Number of unique words:", len(np.unique(np.hstack(data))))

Categories: [0 1]
Number of unique words: 9998

In [4]:
length = [len(i) for i in data]
print("Average Review length:", np.mean(length))
print("Standard Deviation:", round(np.std(length)))

Average Review length: 234.75892
Standard Deviation: 173

In [5]:
print("Label:", targets[0])

Label: 1

In [6]:
print(data[0])

[1, 14, 22, 16, 43, 530, 973, 1622, 1385, 65, 458, 4468, 66, 3941, 4, 173, 36, 256, 5, 25, 100, 43, 838, 112, 50, 670, 2, 9, 35, 480, 284, 5, 150, 4, 172, 112, 167, 2, 336, 385, 39, 4, 172, 4536, 1111, 17, 546, 38, 13, 447, 4, 192, 50, 16, 6, 147, 2025, 19, 14, 22, 4, 1920, 4613, 469, 4, 22, 71, 87, 12, 16, 43, 530, 38, 76, 15, 13, 1247, 4, 22, 17, 515, 17, 12, 16, 626, 18, 2, 5, 62, 386, 12, 8, 316, 8, 106, 5, 4, 2223, 5244, 16, 480, 66, 3785, 33, 4, 130, 12, 16, 38, 619, 5, 25, 124, 51, 36, 135, 48, 25, 1415, 33, 6, 22, 12, 215, 28, 77, 52, 5, 14, 407, 16, 82, 2, 8, 4, 107, 117, 5952, 15, 256, 4, 2, 7, 3766, 5, 723, 36, 71, 43, 530, 476, 26, 400, 317, 46, 7, 4, 2, 1029, 13, 104, 88, 4, 381, 15, 297, 98, 32, 2071, 56, 26, 141, 6, 194, 7486, 18, 4, 226, 22, 21, 134, 476, 26, 480, 5, 144, 30, 5535, 18, 51, 36, 28, 224, 92, 25, 104, 4, 226, 65, 16, 38, 1334, 88, 12, 16, 283, 5, 16, 4472, 113, 103, 32, 15, 16, 5345, 19, 178, 32]

In [7]:
index = imdb.get_word_index()
reverse_index = dict([(value, key) for (key, value) in index.items()]) 
decoded = " ".join( [reverse_index.get(i - 3, "#") for i in data[0]] )
print(decoded)

# this film was just brilliant casting location scenery story direction everyone's really suited the part they played and you could just imagine being there robert # is an amazing actor and now the same being director # father came from the same scottish island as myself so i loved the fact there was a real connection with this film the witty remarks throughout the film were great it was just brilliant so much that i bought the film as soon as it was released for # and would recommend it to everyone to watch and the fly fishing was amazing really cried at the end it was so sad and you know what they say if you cry at a film it must have been good and this definitely was also # to the two little boy's that played the # of norman and paul they were just brilliant children are often left out of the # list i think because the stars that play them all grown up are such a big profile for the whole film but these children are amazing and should be praised for what they have done don't you think the whole story was so lovely because it was true and was someone's life after all that was shared with us all

In [8]:
def vectorize(sequences, dimension = 10000):
    results = np.zeros((len(sequences), dimension))
    for i, sequence in enumerate(sequences):
        results[i, sequence] = 1
    return results
 
data = vectorize(data)
targets = np.array(targets).astype("float32")

In [9]:
test_x = data[:10000]
test_y = targets[:10000]
train_x = data[10000:]
train_y = targets[10000:]

In [10]:
# Input - Layer
model = Sequential()
model.add(layers.Dense(50, activation = "relu", input_shape=(10000, )))
# Hidden - Layers
model.add(layers.Dropout(0.3, noise_shape=None, seed=None))
model.add(layers.Dense(1024, activation = "relu"))
model.add(layers.Dropout(0.2, noise_shape=None, seed=None))
model.add(layers.Dense(2, activation = "relu"))
# Output- Layer
model.add(layers.Dense(1, activation = "sigmoid"))
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 50)                500050

 dropout (Dropout)           (None, 50)                0

 dense_1 (Dense)             (None, 1024)              52224

 dropout_1 (Dropout)         (None, 1024)              0

 dense_2 (Dense)             (None, 2)                 2050

 dense_3 (Dense)             (None, 1)                 3

=================================================================
Total params: 554,327
Trainable params: 554,327
Non-trainable params: 0
_________________________________________________________________

In [11]:
model.compile(optimizer = "adam",loss = "binary_crossentropy", metrics = ["accuracy"])

In [12]:
results = model.fit( train_x, train_y, epochs= 20, batch_size = 512, validation_data = (test_x, test_y))

Epoch 1/20
79/79 [==============================] - 6s 66ms/step - loss: 0.5268 - accuracy: 0.8045 - val_loss: 0.4727 - val_accuracy: 0.8845
Epoch 2/20
79/79 [==============================] - 5s 62ms/step - loss: 0.4229 - accuracy: 0.9081 - val_loss: 0.4628 - val_accuracy: 0.8839
Epoch 3/20
79/79 [==============================] - 5s 62ms/step - loss: 0.3759 - accuracy: 0.9284 - val_loss: 0.4728 - val_accuracy: 0.8850
Epoch 4/20
79/79 [==============================] - 5s 62ms/step - loss: 0.3421 - accuracy: 0.9409 - val_loss: 0.4568 - val_accuracy: 0.8828
Epoch 5/20
79/79 [==============================] - 5s 62ms/step - loss: 0.3199 - accuracy: 0.9477 - val_loss: 0.4636 - val_accuracy: 0.8784
Epoch 6/20
79/79 [==============================] - 5s 62ms/step - loss: 0.3000 - accuracy: 0.9534 - val_loss: 0.4751 - val_accuracy: 0.8807
Epoch 7/20
79/79 [==============================] - 5s 62ms/step - loss: 0.2837 - accuracy: 0.9556 - val_loss: 0.5043 - val_accuracy: 0.8816
Epoch 8/20
79/79 [==============================] - 5s 62ms/step - loss: 0.2698 - accuracy: 0.9584 - val_loss: 0.4829 - val_accuracy: 0.8838
Epoch 9/20
79/79 [==============================] - 5s 61ms/step - loss: 0.2560 - accuracy: 0.9609 - val_loss: 0.5011 - val_accuracy: 0.8818
Epoch 10/20
79/79 [==============================] - 5s 62ms/step - loss: 0.2429 - accuracy: 0.9629 - val_loss: 0.5233 - val_accuracy: 0.8812
Epoch 11/20
79/79 [==============================] - 5s 63ms/step - loss: 0.2326 - accuracy: 0.9639 - val_loss: 0.4743 - val_accuracy: 0.8767
Epoch 12/20
79/79 [==============================] - 5s 63ms/step - loss: 0.2217 - accuracy: 0.9657 - val_loss: 0.5070 - val_accuracy: 0.8770
Epoch 13/20
79/79 [==============================] - 5s 63ms/step - loss: 0.2143 - accuracy: 0.9659 - val_loss: 0.5376 - val_accuracy: 0.8786
Epoch 14/20
79/79 [==============================] - 5s 63ms/step - loss: 0.2052 - accuracy: 0.9675 - val_loss: 0.4772 - val_accuracy: 0.8758
Epoch 15/20
79/79 [==============================] - 5s 63ms/step - loss: 0.1980 - accuracy: 0.9675 - val_loss: 0.4838 - val_accuracy: 0.8771
Epoch 16/20
79/79 [==============================] - 5s 69ms/step - loss: 0.1883 - accuracy: 0.9701 - val_loss: 0.4816 - val_accuracy: 0.8744
Epoch 17/20
79/79 [==============================] - 5s 63ms/step - loss: 0.1824 - accuracy: 0.9699 - val_loss: 0.5327 - val_accuracy: 0.8786
Epoch 18/20
79/79 [==============================] - 5s 69ms/step - loss: 0.1758 - accuracy: 0.9706 - val_loss: 0.5229 - val_accuracy: 0.8777
Epoch 19/20
79/79 [==============================] - 5s 62ms/step - loss: 0.1696 - accuracy: 0.9721 - val_loss: 0.5365 - val_accuracy: 0.8799
Epoch 20/20
79/79 [==============================] - 8s 107ms/step - loss: 0.1637 - accuracy: 0.9720 - val_loss: 0.5687 - val_accuracy: 0.8809

In [13]:
print("Test-Accuracy:", np.mean(results.history["val_accuracy"]))
print("Test-Loss:", np.mean(results.history["loss"]))

Test-Accuracy: 0.8800200015306473
Test-Loss: 0.26456572487950325

### **Exercise 2:**

In [14]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

In [15]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/karan7697/Datasets1/main/yelp_labelled.txt", sep='\t',header=None)
df

                                                     0  1
0                             Wow... Loved this place.  1
1                                   Crust is not good.  0
2            Not tasty and the texture was just nasty.  0
3    Stopped by during the late May bank holiday of...  1
4    The selection on the menu was great and so wer...  1
..                                                 ... ..
995  I think food should have flavor and texture an...  0
996                           Appetite instantly gone.  0
997  Overall I was not impressed and would not go b...  0
998  The whole experience was underwhelming, and I ...  0
999  Then, as if I hadn't wasted enough of my life ...  0

[1000 rows x 2 columns]

In [16]:
df.columns=['sentence','label']
df

                                              sentence  label
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]

In [17]:
sentences = df['sentence'].values
y = df['label'].values
sentences_train, sentences_test, y_train, y_test = train_test_split(sentences, y, test_size=0.30, random_state=1000)

In [18]:
vectorizer = CountVectorizer()
vectorizer.fit(sentences_train)

X_train = vectorizer.transform(sentences_train)
X_test  = vectorizer.transform(sentences_test)
X_train

<700x1665 sparse matrix of type '<class 'numpy.int64'>'
	with 6898 stored elements in Compressed Sparse Row format>

In [19]:
tokenizer = Tokenizer(num_words=5000)
tokenizer.fit_on_texts(sentences_train)

X_train = tokenizer.texts_to_sequences(sentences_train)
X_test = tokenizer.texts_to_sequences(sentences_test)

vocab_size = len(tokenizer.word_index) + 1  # Adding 1 because of reserved 0 index

print(sentences_train[2])
print(X_train[2])

The waitresses are very friendly.
[1, 713, 29, 18, 58]

In [20]:
maxlen = 100

X_train = pad_sequences(X_train, padding='post', maxlen=maxlen)
X_test = pad_sequences(X_test, padding='post', maxlen=maxlen)
print(X_train[0, :])

[264  57 443   6  83 129  10   1 444 710 147 711   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0]

In [21]:
embedding_dim = 50

model = Sequential()
model.add(layers.Embedding(vocab_size, embedding_dim, input_length=maxlen))
model.add(layers.Conv1D(64, 5, activation='relu'))
model.add(layers.GlobalMaxPooling1D())
model.add(layers.Dense(10, activation='relu'))
model.add(layers.Dense(1, activation='sigmoid'))
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 100, 50)           84900

 conv1d (Conv1D)             (None, 96, 64)            16064

 global_max_pooling1d (Globa  (None, 64)               0
 lMaxPooling1D)

 dense_4 (Dense)             (None, 10)                650

 dense_5 (Dense)             (None, 1)                 11

=================================================================
Total params: 101,625
Trainable params: 101,625
Non-trainable params: 0
_________________________________________________________________

In [22]:
history = model.fit(X_train, y_train,
                    epochs=20,
                    verbose=False,
                    validation_data=(X_test, y_test),
                    batch_size=32)
loss, accuracy = model.evaluate(X_train, y_train, verbose=False)
print("Training Accuracy: {:.4f}".format(accuracy))
loss, accuracy = model.evaluate(X_test, y_test, verbose=False)
print("Testing Accuracy:  {:.4f}".format(accuracy))

Training Accuracy: 1.0000
Testing Accuracy:  0.7900

In [23]:
scores = model.evaluate(X_train,y_train)
print("training accuracy : %.2f%%\n" % (scores[1]*100))
scores = model.evaluate(X_test,y_test)
print("testing accuracy : %.2f%%\n" % (scores[1]*100))

22/22 [==============================] - 0s 5ms/step - loss: 0.0010 - accuracy: 1.0000
training accuracy : 100.00%

10/10 [==============================] - 0s 6ms/step - loss: 0.6719 - accuracy: 0.7900
testing accuracy : 79.00%